.product-container {
    padding: 10% 25% 20% 25%;
}

.image-container {
    overflow: hidden;
    position: relative;
    width:300px;
    height: 300px;
}

.product-image {
    width: 100%;
    transition: transform 1s;
}

.image-container:hover .product-image {
    transform: scale(1.5);
}
