.container {
    padding: 15px;
}

.heading {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.button {
    background-color: #56CCF2 !important;
    color: white !important;
    font-weight: bold !important;
    width: fit-content;
}